<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Tienda ropita</title>
	
	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP estilo de la pagina -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<!-- Iconos tipo Solid de Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>
	<div class="container">
		<div class="main-section">
			<div class="jumbotron jumbotron-fluid">
			 	<div class="container text-center">
			    	<h1 class="display-4">MENÚ PRINCIPAL</h1>
			    	<p class="lead">¡Bienvenido al panel de administración de <b>Tienda Ropita</b>!</p>
			  	</div>
			</div>		
			<div class="card-deck text-center">
			 	<div class="card">	
			 		<a href="/tienda/prendas/list"> <img src="../img/prendas2.png" class="card-img-top" alt="Prendas"></a>		 		
			    	<div class="card-body">
				    	<h1 class="display-5">PRENDAS</h1>	    	
			    	</div>
			  	</div>
			  	<div class="card">
			  		<a href="/tienda/clientes/list"> <img src="../img/clientes.png" class="card-img-top" alt="Clientes"></a>
			    	<div class="card-body">
			      		<h1 class="display-5">CLIENTES</h1>
			    	</div>
			  	</div>
			  	<div class="card">
			    	<a href="/tienda/ventas/list"><img src="../img/ventas.png" class="card-img-top" alt="Ventas"></a>
			    	<div class="card-body">
			      		<h1 class="display-5">VENTAS</h1>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
</body>
</html>