<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Editar prenda</title>
	
	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
 			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 			crossorigin="anonymous">
	</script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
			crossorigin="anonymous">
	</script>

	<!-- Iconos tipo Solid de Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>

	<div class="container">
		<div class="mx-auto col-sm-8 main-section">
			<div class="card">
				<div class="card-header">
					<h4>Agregar items</h4>
				</div>
				<div class="card-body">
					<form class="form" role="form" th:object="${item}" th:action="@{/tienda/ventas/saveItems}" method="post">
						<div class="form-group row">
							<label class="col-lg-3 col-form-label 	form-control-label">Venta ID</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" th:value="${ventaId}" id="ventaId" name="ventaId" readonly="readonly">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label 	form-control-label">Cantidad</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" th:field="*{cantidad}" th:disabled="${disableFields}">
								<div class="alert-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Cantidad Error</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label 	form-control-label">Prendas</label>
							<div class="col-lg-9" th:object="${prenda}">
							    <select class="form-control" id="prenda" name="prenda">
		  					        <option value="">Seleccione una prenda</option>
							        <option th:each="prenda : ${prendas}"
							                th:value="${prenda.Id}"
							                th:text="${prenda.getDescripcion()}"
							                th:selected="${prenda==prenda}">
							        </option>
							    </select>
							    <!--<div class="alert-danger" th:if="${#fields.hasErrors('tipoPrendas')}" th:errors="*{tipoPrendas}">Tipo prenda Error</div>-->
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 text-center">
								<a class="btn btn-secondary" href="/tienda/ventas/list">Cancelar</a>
								<input type="submit" class="btn btn-primary" value="Guardar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>